@charset "UTF-8";@keyframes fade-up-2b5b57c3 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-2b5b57c3 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
div[data-v-2b5b57c3] {
  position: relative;
  min-width: 60px;
  height: 12px;
  display: flex;
  align-items: center;
  padding: 0 9px;
}
div[data-v-2b5b57c3]:before {
  content: "";
  display: flex;
  height: 4px;
  background-color: var(--light-80);
  border-radius: 0;
  position: absolute;
  left: 9px;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
}
div span[data-v-2b5b57c3] {
  position: relative;
  height: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--gradient-2);
  display: flex;
}
div span i[data-v-2b5b57c3] {
  right: 0;
  top: 50%;
  background: var(--gradient-2);
  position: absolute;
  transform: translateX(50%) translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  cursor: e-resize;
}@keyframes fade-up-804877a9 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-804877a9 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.search-page[data-v-804877a9] {
  width: 160px;
  max-height: 186px;
  background: var(--white-80);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 6px -3px var(--dark-500);
  position: fixed;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 400;
}
.search-page ul[data-v-804877a9] {
  max-height: 102px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}
.search-page ul[data-v-804877a9]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: var(--white-500);
  border-radius: 20px;
}
.search-page ul[data-v-804877a9]::-webkit-scrollbar-track, .search-page ul[data-v-804877a9]::-webkit-scrollbar-corner {
  background-color: var(--white-500);
  width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.search-page ul[data-v-804877a9]::-webkit-scrollbar-thumb {
  background-color: var(--dark-20);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.search-page ul[data-v-804877a9]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.search-page ul[data-v-804877a9]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.search-page ul[data-v-804877a9]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.search-page ul li[data-v-804877a9] {
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  cursor: pointer;
  font: var(--font-body-2);
  color: var(--dark-500);
}
.search-page ul li svg[data-v-804877a9] {
  fill: var(--primary-500);
  stroke: var(--tertiary-500);
  width: 16px;
  height: 16px;
}
.search-page ul li.selected[data-v-804877a9] {
  color: var(--primary-500);
  pointer-events: none;
}
.search-page ul li.matched[data-v-804877a9] {
  background-color: var(--primary-50);
  color: var(--primary-500);
}
.pagination[data-v-804877a9] {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  box-sizing: border-box;
  margin: 16px 0;
  align-items: center;
  justify-content: start;
  padding: 0;
}
.pagination.center[data-v-804877a9] {
  justify-content: center;
}
.pagination > div[data-v-804877a9] {
  max-width: 90px;
}
.pagination li[data-v-804877a9] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 4px;
  background-color: transparent;
  min-width: 24px;
  height: 24px;
  font: var(--font-caption);
}
.pagination li span[data-v-804877a9] {
  color: var(--dark-80);
  user-select: none;
}
.pagination li.active[data-v-804877a9] {
  background-color: var(--primary-100);
  pointer-events: none;
}
.pagination li.active span[data-v-804877a9] {
  color: var(--primary-500);
}
.pagination li.active-short span[data-v-804877a9] {
  color: var(--dark-500);
}
.pagination li[data-v-804877a9]:not(.next, .prev, .active, .all-pages):hover {
  cursor: pointer;
}
.pagination li.all-pages span[data-v-804877a9] {
  color: var(--dark-20);
}
@keyframes fade-up {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.autocomplete-field {
  display: flex;
  flex-direction: column;
}
.autocomplete-field > div {
  margin: 0 0 8px;
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: var(--input-max-width);
}
.autocomplete-field > div .placeholder {
  font: var(--font-body-1);
  color: var(--dark-80);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background-color: transparent;
  transition: all 0.4s;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 30px);
}
.autocomplete-field > div .actions-block {
  position: absolute;
  top: 0;
  height: 100%;
  right: 8px;
  display: flex;
  align-items: center;
}
.autocomplete-field > div .actions-block > svg {
  fill: var(--dark-80);
  stroke: var(--dark-80);
  height: 20px;
  width: 20px;
  margin: 0 8px;
}
.autocomplete-field > div .actions-block > svg.arrow-down {
  transition: all 0.4s;
}
.autocomplete-field > div > svg:not(.arrow-down) {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: var(--dark-80);
  stroke: var(--dark-80);
}
.autocomplete-field > div input {
  width: 100%;
  padding: 9px 20px;
  height: 54px;
  font: var(--font-body-1);
  color: var(--dark-500);
  background: var(--white-500);
  border: 1px solid var(--gray-20);
  border-radius: 10px;
  outline: none;
  color-scheme: var(--Ñolor-scheme);
  padding-right: 44px;
}
.autocomplete-field > div input::placeholder {
  color: transparent;
}
.autocomplete-field > div input:focus, .autocomplete-field > div input:hover, .autocomplete-field > div input:not(:placeholder-shown) {
  padding-top: 20px;
  padding-bottom: 8px;
  border-color: var(--primary-500);
}
.autocomplete-field > div input:focus:not(:placeholder-shown) + .placeholder, .autocomplete-field > div input:focus:focus + .placeholder, .autocomplete-field > div input:hover:not(:placeholder-shown) + .placeholder, .autocomplete-field > div input:hover:focus + .placeholder, .autocomplete-field > div input:not(:placeholder-shown):not(:placeholder-shown) + .placeholder, .autocomplete-field > div input:not(:placeholder-shown):focus + .placeholder {
  color: var(--primary-80);
}
.autocomplete-field > div input:focus:not(:placeholder-shown) + .placeholder + svg:not(.icon-info), .autocomplete-field > div input:focus:focus + .placeholder + svg:not(.icon-info), .autocomplete-field > div input:hover:not(:placeholder-shown) + .placeholder + svg:not(.icon-info), .autocomplete-field > div input:hover:focus + .placeholder + svg:not(.icon-info), .autocomplete-field > div input:not(:placeholder-shown):not(:placeholder-shown) + .placeholder + svg:not(.icon-info), .autocomplete-field > div input:not(:placeholder-shown):focus + .placeholder + svg:not(.icon-info) {
  fill: var(--primary-80);
  stroke: var(--tertiary-80);
}
.autocomplete-field > div input:disabled {
  background-color: var(--light-10);
  color: var(--dark-20);
  border-color: var(--light-20);
}
.autocomplete-field > div input:disabled:not(:placeholder-shown) + .placeholder {
  color: var(--dark-20);
}
.autocomplete-field > div input:disabled + .placeholder {
  color: var(--dark-20);
}
.autocomplete-field > div input:disabled + .placeholder + svg:not(.icon-info) {
  fill: var(--dark-20);
  stroke: var(--dark-80);
}
.autocomplete-field > div input:disabled ~ .actions-block {
  display: none;
}
.autocomplete-field > div input.without-placeholder {
  padding-top: 0;
  padding-bottom: 0;
}
.autocomplete-field > div input:not(:placeholder-shown) + .placeholder, .autocomplete-field > div input:focus + .placeholder {
  font: var(--font-label);
  top: 8px;
  transform: none;
  background: transparent;
}
.autocomplete-field > div input ~ .actions-block .clean {
  opacity: 0;
}
.autocomplete-field > div input:not(:placeholder-shown) ~ .actions-block .clean {
  opacity: 1;
}
.autocomplete-field > div input:-webkit-autofill, .autocomplete-field > div input:-webkit-autofill:hover, .autocomplete-field > div input:-webkit-autofill:focus, .autocomplete-field > div input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.autocomplete-field > div input::-webkit-outer-spin-button, .autocomplete-field > div input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.autocomplete-field > div input.clearable {
  padding-right: 80px;
}
.autocomplete-field > div input.pointer-events-none {
  pointer-events: none;
}
.autocomplete-field.opened > div .arrow-down {
  transform: rotate(180deg);
}
.autocomplete-field.opened > div input {
  border-color: var(--primary-500);
}
.autocomplete-field > .error {
  font: var(--font-label);
  color: var(--secondary-500) !important;
  display: flex;
  min-height: 11px;
}
.autocomplete-field > .values {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  padding: 6px 0;
}
.autocomplete-field > .values li {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font: var(--font-body-2);
  color: var(--dark-500);
  align-items: center;
  background: var(--light-20);
  padding: 0 0 0 12px;
  border-radius: 10px;
  transition: all 0.4s;
}
.autocomplete-field > .values li:hover {
  background: var(--light-80);
}
.autocomplete-field.with-error > div input {
  border-color: var(--secondary-500) !important;
}
.autocomplete-field.with-error > div svg,
.autocomplete-field.with-error > div input:not(:placeholder-shown) + .placeholder + svg,
.autocomplete-field.with-error > div input:focus + .placeholder + svg {
  fill: var(--secondary-500) !important;
  stroke: var(--secondary-80) !important;
}
.autocomplete-field.with-error > div input:not(:placeholder-shown) + .placeholder + svg,
.autocomplete-field.with-error > div svg {
  color: var(--secondary-500) !important;
}
.autocomplete-field.with-icon > div input {
  padding-left: 56px;
}
.autocomplete-field.with-icon > div .placeholder {
  left: 57px;
}
.autocomplete-field.light > div input {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  height: 38px;
  text-overflow: ellipsis;
}
.autocomplete-field.light > div svg {
  height: 18px;
  width: 18px;
}
.autocomplete-field.light > div input:not(:placeholder-shown) + .placeholder,
.autocomplete-field.light > div input:focus + .placeholder {
  display: none;
}
.autocomplete-field.noerror > div {
  margin: 0;
}
.autocomplete-field.noerror > .error {
  display: none;
}@keyframes fade-up-ca9e1813 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-ca9e1813 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
div[data-v-ca9e1813] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 240px;
  height: 240px;
}
div svg[data-v-ca9e1813] {
  width: 100%;
  height: 100%;
}
div > span[data-v-ca9e1813] {
  font: var(--font-body-2);
  font-weight: bold;
  color: var(--dark-500);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}@keyframes fade-up-2a71f9a1 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-2a71f9a1 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.page-container[data-v-2a71f9a1] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding: 24px 16px;
  overflow: auto;
}
.page-container > div > ul[data-v-2a71f9a1] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-container > div > ul li[data-v-2a71f9a1] {
  position: relative;
}
.page-container > div[data-v-2a71f9a1] {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}
.page-container > div svg[data-v-2a71f9a1] {
  width: 32px;
  height: 32px;
  fill: var(--primary-500);
  stroke: var(--tertiary-500);
}