@keyframes fade-up-a46f63b4 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-a46f63b4 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.head[data-v-a46f63b4] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 16px 0 16px;
  height: 60px;
  flex-shrink: 0;
  width: 100%;
}
.head .title[data-v-a46f63b4] {
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-500);
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
  margin-top: 2px;
}
.more[data-v-a46f63b4] {
  padding: 0 16px var(--block-gap);
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.more .title[data-v-a46f63b4] {
  font: var(--font-h6);
  font-weight: bold;
  color: var(--dark-500);
  margin-right: auto;
}
.more > div[data-v-a46f63b4] {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.more > div button[data-v-a46f63b4] {
  flex: 1 1 50%;
  max-width: calc(50% - 4px);
}